body {

  background-color: #474151;
  font-family: 'Source Sans Pro', sans-serif;
}

.topnav {
overflow: auto;
background-color: #28262d;
border-radius: 20px;
top: 0; 
margin-bottom: 40px;
}

.logo { 
float: left;
padding: 10px 12px;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #6e5e75;
  color: white;
}

.container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  background-color: #28262d;
}

.flex-container {
  display: flex;
  background-color: #efe8f2;
  color: #28262d;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-item {
  background-color: #efe8f2;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  color: #28262d;
}

.grid-container {

  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  padding: 10px;
}
.grid-item {
  margin-top: 50px;
  background-color: #efe8f2;
  border: 5px solid #28262d;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.grid-container-separate {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
  background-color: #474151
}
.grid-item-separate {
  background-color: #efe8f2;
  border: 5px solid #28262d;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

p {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  color: white;
}

.empty {
  display:flex;
  padding: 28px;
  margin: 14px;
}

.small-cont{
  padding: 20px;
  margin: 5px;
}

.contact-container{
  display: flex;
  background-color: #efe8f2;
  border: 5px solid #28262d;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

