body {

  background-color: #474151;
}

.topnav {
overflow: hidden;
background-color: #28262d;
border-radius: 20px;
}

.logo { 
float: left;
padding: 10px 12px;
}

.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #6e5e75;
  color: white;
}

.container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  background-color: #28262d;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  background-color: #28262d;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}  

.flex-child:first-child {
  margin-right: 20px;
} 