body {

  background-color: #474151;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 30px;
padding-top: 40px;
border-radius: 150px;
}

.topnav {
overflow: hidden;
background-color: #28262d;
width: 760px;
margin: auto;
display : flex;
justify-content: center;
border-radius: 20px;

}

.topnav a {
  margin: auto;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #6e5e75;
  color: white;
}

p {
  color: white;
  text-align: center;
  font-size: 30px;
}

h1 {
  color: white;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  background-color: #28262d;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}  

.flex-child:first-child {
  margin-right: 20px;
} 